<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>About Us</title>
</head>

<body>
	<h1>About Us</h1>
    <p>
        Our team of two consists of Agatha (Aggie) and Elisabeth (Ellie). Agatha is an experienced hobbiest gardener who 
        has worked with many different types of practical plants. With her expertise, she collected information on the 
        different plants and organized it for the database. Ellie is an inexperienced gardener and gives a viewpoint of 
        someone who doesn't have much "plant care abilities" yet. However, she would like to learn, and was excited to help 
        with her programming/database abilities. She has created the database and the website.
    </p>
	
    <a href = "/">Home</a>
</body>

</html>
