<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Do-able UMD Gardening</title>
</head>

<body>
	<h1>Do-able UMD Gardening</h1>
	<p>A website for finding the perfect plant match for you.</p>
	<h2>User</h2>
	To look for plants, click <a href="/searchPlants">explore</a><br>
    To look for gardening tips, click <a href = "/tips">general gardening rules</a><br>
	<hr>

	<h2>About Us</h2>
	For information about us, visit <a href="/aboutUs">Here</a><br>
    For our sources, visit <a href="/sources">Sources</a> <br>
	For the compiled information, visit <a href = "https://docs.google.com/document/d/1kSfTlUx0h63tDbi2NMqh1GtwIBYGQdaZlWF6Opm9fSA/edit?usp=sharing"> HERE</a>
	<a href = "https://docs.google.com/document/d/182jb-YuVUVFkocwLi1eEnXwS7U3GkCo12gpYwmh1o1E/edit?usp=sharing">Letter to Community Learning Garden</a>
	<hr>
</body>

</html>
