<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search Plants</title>
</head>

<body>
	<h1>Search Plants</h1>
    <form action="/processSearch" method="post">
		<fieldset>
            
			<label><strong>Highest Difficulty: </strong> </label>

                <select name="Difficulty">
                    <option value ="Easy">Easy</option>
                    <option value = "Medium">Medium</option>
                    <option value = "Hard">Hard</option>
                </select>
            <br>
			<label><strong>Space Available (inches): </strong><input type="number" name="minSpace" /></label><br>
            <label><strong>Sunlight: </strong>            </label>

                <select name="sunlight"  >
                    <option value = "Full">Full</option>
                    <option value = "Partial">Partial</option>
                    <option value = "Little">Little</option>
                </select>
            <br>
		    <input type="Reset" />
		    <input type="submit" value="Submit Parameters" />
		</fieldset>
	</form>
    <p>
        This website was designed to help aspiring gardeners in urban spaces (i.e. apartments or houses with small yards) to learn how to care for plants that can grow edible products. The plants chosen can be grown either in an indoor space with only window light or in a small outdoor space like a balcony. To use the database, the user inputs the amount of space they have available, the highest amount of difficulty they want their plant to require, and the amount of sunlight they have available. The program will provide a list of plants that fit those parameters with instructions on how to sow, care for, and harvest the plants, as well as some uses for the food produced. Instructions common to all the plants can be found under the <a href = "/tips">“General Gardening Rule”</a> link and should be referenced in addition to each plant’s specific instructions for best results.
        </p>
    <div id ="toMod"></div>
    <a href = "/">HOME</a>

</body>

</html>
